body {
    display: block;
    font-size: 1em;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;
    page-break-before: always
}

p {
    display: block;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
}

.polish_indent {
    text-indent: 2em;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bolder;
}
